MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_LOCAL_HOST=127.0.0.1
MYSQL_HOST=db
MYSQL_DATABASE=database_name
MYSQL_USER=mysql_user
MYSQL_PASSWORD=mysql_password
MYSQL_PORT=3306
TWIG_CACHE=false
TWITTER_CONSUMER_KEY=twitter_comsumer_key
TWITTER_CONSUMER_SECRET=twitter_comsumer_secret
ADMIN_ID=2
TWITTER_USERNAME=developer_name
TWITTER_PASSWORD=developer_password
AWS_S3_KEY=aws_s3_key
AWS_S3_SECRET=aws_s3_secret
AWS_S3_BUCKET_NAME=aws_s3_bucket_name_test
AWS_S3_REGION=aws_s3_region