@import "base.css";

.global-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6rem;
}

.global-footer {
  padding-top: 6rem;
}

.auth__login,
.auth__logout {
  width: 100%;
}

.global-header__top__home,
.global-header__top__user,
.auth__logout,
.search__button[type='submit'],
.comments__sort__button[type='submit'] {
  background: #fefefe;
  border: 1px solid #d1d1d1;
  border-radius: .4rem;
  color: darkgreen;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.search {
  &__query:focus {
    border-color: darkgreen;
  }
  @media screen and (min-width: 600px) {
    &__query {
      min-width: 40%;
    }
  }
  &__query,
  &__button {
    vertical-align: bottom;
    margin-bottom: 0;
  }

  &__button[type='submit']:hover,
  &__button[type='submit']:focus {
    color: #006400;
    background: #fefefe;
    border: 1px solid #d1d1d1;
  }
}

button.button--small,
input.button--small {
  font-size: 1.4rem;
  font-weight: 400;
  height: 2.8rem;
  line-height: 2.6rem;
  padding: 0 1.5rem;

  &:hover,
  &:hover {
    font-weight: 800;
  }
}

input.button--like {
  & {
    color: #606c76;
    background-color: #fafafa;
    border: 0.1rem solid #606c76;
  }

  &:focus,
  &:hover {
    background-color: #fafafa;
    border-color: #2b9e2b;
    color: #606c76;
    outline: 0;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    background-color: #fafafa;
    border-color: #2b9e2b;
    color: #606c76;
    font-weight: 400;
    opacity: .8;
  }
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 60%;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    max-width: 60rem;
  }
}

.content {
  padding: 2rem;
  border: 1px solid #e0e0e0;
  background: #fefefe;

  &--thin {
    padding: 1rem;
  }

  form {
    margin-bottom: .5rem;
  }
}

.message {
  margin: 2rem 0;
  padding-bottom: 1rem;
  font-weight: bold;
  color: #000000;
  border-color: rgba(96, 183, 96, 1.0);

  &--error {
    border-color: #d43f3a;
  }
  &__lists {
    margin-bottom: 0;
    list-style: none;
  }
}

.create-thread,
.search,
.comments__sort {
  margin: 3rem 0;
  padding: 2rem 2rem 1.5rem;
  border: 1px solid #e0e0e0;
  background: #fefefe;
}

.create-thread__form {
  margin-bottom: 1rem;
}

.threads {
  margin: 3rem 0;
  padding: 2rem 2rem 1.5rem;
  border: 1px solid #e0e0e0;
  background: #fefefe;

  &__ruler {
    margin: 1.5rem 0;
  }

  &__titles {
    margin: 1rem 0;

    &__title {
      font-size: 1.8rem;

      &:hover {
        color: #2b9e2b;
        text-decoration: underline;
      }
    }

  }

  &__subtitles {
    display: flex;
    justify-content: space-between;

    &__username {
      font-size: 1.5rem;

      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    &__updated {
      font-size: 1.4rem;
    }
    &__count {
      font-size: 1.4rem;
      text-decoration: none;

      &:hover {
        color: #2b9e2b;
        text-decoration: underline;
      }
    }
  }

}

.comment_form {
  margin: 2rem 0;
  &__comment {
    font-weight: 400;
  }
}

.comment {
  padding: 1rem 1.5rem;
  border: 1px solid #e0e0e0;
  background: #fefefe;

  &_top {
    margin-bottom: 3rem;
  }

  &__main {
    background: #ffffff;
    margin: 0.2rem 0 1.5rem 0;
    padding: 0.5rem 0;
  }

  &_main__photo {
    margin: 1rem;
  }

  &__header,
  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    padding: .8rem 0;
  }

  &__header__wrap {
    display: inline-block;
  }

  &__header__wrap__icon {
    border-radius: 50%;
    border: 1px solid #d1d1d1;
  }

  &__header__username {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2rem;
    margin-top: -4.1rem;
    font-size: 1.6rem;
    font-weight: bold;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  &__header__createdat {
    display: inline-block;
    font-size: 1.4rem;

    a {
      text-decoration: none;
    }
    a:hover {
      color: #2b9e2b;
      text-decoration: underline;
    }
  }

  &__footer form {
    margin-bottom: 0;
  }

  &__cancel {
    margin-left: 3rem;
  }

  &_delete[type=submit] {
    background-color: inherit;
    border: 1px solid #d9534f;
    color: inherit;
    font-weight: 400;
  }

  &_delete[type=submit]:hover {
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    color: #fff;
    font-weight: 400;
  }
}

.comment_form {
  padding: 1rem 1.5rem;
  border: 1px solid #e0e0e0;
  background: #fefefe;

  &__header {
    padding: .8rem 0;
    display: flex;
    justify-content: flex-start;
  }

  &__header__wrap {
    display: inline-block;
  }

  &__header__wrap__icon {
    border-radius: 50%;
    border: 1px solid #d1d1d1;
  }

  &__header__username {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.form--inline {
  margin-bottom: 0;
  fieldset,
  input,
  select,
  textarea {
    margin-bottom: .5rem;
  }

  label,
  input,
  button,
  select {
    display: inline-block;
    width: auto;
    vertical-align: top;
  }
}

.profile {
  padding: 2rem 1.5rem 0;
  margin-bottom: 2rem;
  &__icon {
    border-radius: 50%;
    border-color: #d1d1d1;
  }
  &__name {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 4rem 1rem;
    font-size: 2.4rem;
  }
  &__links {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 3.2rem 1rem;
    font-size: 1.4rem;
  }
}

.quit {
  margin-top: 2rem;
}

[v-cloak] {
  display: none;
}