body {
    background: #f0f3f3;
}

a {
    color: darkgreen;
}

img {
    max-width: 100%;
}

button,
input[type='submit'],
a.button {
    background-color: darkgreen;
    border: 0.1rem solid darkgreen;
}

button,
input[type='submit'][disabled]:hover,
a.button {
    background-color: darkgreen;
    border: 0.1rem solid darkgreen;
}

.hidden {
    display: none !important;
}

.search .search__query:focus {
    border-color: darkgreen;
}

@media screen and (min-width: 600px) {
    .search .search__query {
        min-width: 40%;
    }
}

.search .search__query,
.search .search__button {
    vertical-align: bottom;
    margin-bottom: 0;
}

button.button--small,
input.button--small {
    font-size: 1.2rem;
    font-weight: 400;
    height: 2.8rem;
    line-height: 2.6rem;
    padding: 0 1.5rem;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 600px) {
    .container {
        max-width: 60%;
    }
}

@media screen and (min-width: 1080px) {
    .container {
        max-width: 60rem;
    }
}

.content {
    padding: 2rem;
    border: 1px solid #e0e0e0;
    background: #fefefe;
}

.create-thread,
.search,
.threads,
.comments__sort {
    margin: 3rem 0;
    padding: 2rem 2rem 1.5rem;
    border: 1px solid #e0e0e0;
    background: #fefefe;

}

.create-thread__form {
    margin-bottom: 1rem;
}

.thread {
    display: block;
}

.thread thead {
    display: none;
}

.thread .cell:before {
    content: attr(data-title) " ";
}

.thread .cell {
    display: block;
    max-width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 425px) {
    .thread {
        display: table;
        table-layout: fixed;
    }

    .thread thead {
        display: table-header-group;
    }

    .thread .cell:before {
        content: "";
    }

    .thread .cell {
        display: table-cell;
    }

    .thread .cell--scroll {
        overflow-x: scroll;
        text-overflow: initial;
    }

    .thread .cell--scroll::-webkit-scrollbar {
        display: none;
    }
}

.comment {
    margin: .1rem;
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    background: #fefefe;
}

.comment__main {
    margin: 1rem 0;
    padding: 1rem 0;
    background: #ffffff;
}

.comment__header,
.comment__footer {
    display: flex;
    justify-content: space-between;
}

.comment__header {
    padding: .8rem 0;
}

.comment__header__icon {
    border-radius: 50%;
}

.comment__footer form {
    margin-bottom: 0;
}

.form--inline label,
.form--inline input,
.form--inline button,
.form--inline select {
    display: inline-block;
    width: auto;
}

.global-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
}

.global-footer {
    padding-top: 6rem;
}

.auth__login,
.auth__logout {
    width: 100%;
}