{% extends "base.twig" %}

{% block title %}Error{% endblock %}
{% block contents %}
    <div>
        <a href="{{ redirect | default('/') }}">元のページへ戻る</a>
        <section class="error">
            <p>{{ error_message }}</p>
        </section>
    </div>
{% endblock %}