<footer class="global-footer">
    <div class="clearfix">
        {% if not error_message %}
            <nav class="auth float-right">
                {% if not loggedIn %}
                    <a href="{{ path_for('login') }}" class="button auth__login">ログイン</a>
                {% else %}
                    <a href="{{ path_for('logout') }}" class="auth__logout">ログアウト</a>
                {% endif %}
            </nav>
        {% endif %}
    </div>
</footer>