<header>
    <nav class="global-header">
        <article class="global-header__top">
            <a href="{{ path_for('home') }}" class="button">Top</a>
        </article>
        {% if not error_message %}
            <article class="global-header__auth">
                {% if not loggedIn %}
                    <a href="{{ path_for('login') }}" class="button auth__login">ログイン</a>
                {% endif %}
            </article>
        {% endif %}
    </nav>
</header>