{% extends "base.twig" %}

{% block title %}Quit{% endblock %}
{% block contents %}
    <div>
        <section class="quited">
            <h2>退会しました</h2>
            <p>以下の情報は適切に削除されました。</p>
            <ul>
                <li>ログイン中に書き込んだ全ての投稿</li>
                <li>ユーザー情報</li>
            </ul>
        </section>
    </div>
{% endblock %}